    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --branco: #FFFFFF;

        --font1: 'Lato', sans-serif;
        --font2: 'Montserrat', sans-serif;

    }


    body {
        background-image: url(Img/Backgronud.png);
        color: var(--branco);
        font-family: var(--font2);
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

    }

    header {
        width: 100%;
    }

    .log {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .hr_esquerda {
        border-bottom: solid 2px #FFFFFF;
        width: 60%;

    }

    .hr_direita {
        border-bottom: solid 2px #FFFFFF;
        width: 35%;


    }

    .log img {
        height: 80px;
    }

    .nomes {
        font-family: var(--font2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        margin: 0 auto;
        width: 95%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: -20px;
    }

    .perfil {

        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .perfilp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100px;
        margin-top: 20px;
    }

    .perfilp img {
        height: 25PX;
        width: 25px;

    }

    .infos {
        width: 350px;
        border-radius: 10%;
        background-color: #FFFFFF;
        color: black;
        padding: 10px;
        padding-top: 10px;
        margin-top: 20PX;



    }

    .alinhamento {
        display: flex;
        /* justify-content: flex-end; */
        align-items: center;

    }

    .pdf {
        height: 55px;
        width: 55px;
        border-radius: 100%;
        background-color: #FFFFFF;
        position: relative;
        top: -30px;
        left: 220px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .hr_adm {
        border-bottom: solid 1px grey;
        width: 100%;
        display: flex;

    }

    .dados {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-family: var(--font1);

    }

    td.direita {
        text-align: right;
        height: 26px;

    }

    td.esquerda {
        text-align: left;
        width: 144px;
    }

    .verifi {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: var(--font1);
        font-size: 23px;
        color: #12D76E;
        align-items: center;
        padding-top: 10px;
    }

    .hr_adm1 {
        border-bottom: solid 1px grey;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

    }

    .id {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    button {
        height: 50px;
        width: 200px;
        border-radius: 30%;
        margin-top: 20px;
        position: relative;
        font-family: var(--font2);
        font-weight: 600;
        text-align: center;
        font-size: 15px;
        color: var(--branco);
        background: #1A7CA6;
        border: 1px solid #294ABD;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 46.5px;
        text-decoration: none;

    }

    button:hover {
        background-color: orange;
        color: #000;

    }

    nav {

        width: 120px;
        height: 400px;
        font-family: var(--font2);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;

    }

    .alinhamento2 {
        display: flex;
        justify-content: right;
        width: 100%;
        margin-top: -150PX;
    }

    .btn_cadastrar {
        display: flex;
        justify-content: center;
        padding: 20px 35px;
        height: 50px;
        width: 115px;

        font-family: var(--font2);
        font-weight: 600;
        text-align: center;
        font-size: 15px;
        background: #1A7CA6;
        border: 1px solid #294ABD;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 46.5px;
        text-decoration: none;
        margin: 5px;

    }

    nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--branco);
        text-decoration: none;


    }

    nav a:hover {

        background-color: orange;
        color: #000;
    }





    @media screen and (max-width: 800px) {
        .hom {
            display: none;
        }

        .edi {
            display: flex;
            width: 120px;
        }


        ._cadastro {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

        }

        .alinhamento2 {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 0px;
        }
    }


    @media screen and (max-width: 510px) {}

    @media screen and (max-width: 405px) {

        .formulario {
            width: 350px;
            height: 250px;
        }

        .forms {
            width: 350px;
            height: 40px;
        }
    }