    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFFFFF;

    --font1: 'Lato', sans-serif;
    --font2: 'Montserrat', sans-serif;

}







body {
    background-image: url(Img/Backgronud.png);
    color: var(--branco);
    font-family: var(--font2);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    width: 100%;
}
.log {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hr_esquerda {
    border-bottom: solid 2px #FFFFFF;
    width: 60%;

}

.hr_direita {
    border-bottom: solid 2px #FFFFFF;
    width: 35%;


}

.log img {
    height: 80px;
}

.nomes {
    font-family: var(--font2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
    width: 95%;
}

main {
    height: 650px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
}

.perfil {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfilp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100px;
}

.perfilp img{
    height: 25PX;
    width: 25px;

}

.infos {
    height: 1000px;
    width: 350px;
    border-radius: 10%;
    background-color: #FFFFFF;
    color: black;
    padding: 10px;
    padding-top: 10px;


}

.pdf {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: -30px;
    left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hr_adm {
    border-bottom: solid 1px grey;
    width: 100%;
    display: flex;

}

.dados {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: var(--font1);
    
}
td.direita {
    text-align: right;
    height: 26px;
    
}

td.esquerda {
    text-align: left;
    width: 144px;
}

.verifi{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    font-family: var(--font1);
    font-size: 23px;
    color: #12D76E;
    align-items: center;
    padding-top: 10px;
}

.hr_adm1 {
    border-bottom: solid 1px grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
   
}

.verifi img {
    height: 30px;
    
}
.menu_ss{  
   
 
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    position: relative;
    top: -280px;
    left: 650px;
   
}

.menu_ss a{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;


    width: 130px;
    height: 50px;
    padding: 15px 0;
    position: relative;
    
    

    font-family: var(--font2    );
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    color: var(--branco);
    background: #1A7CA6;
    border: 1px solid #294ABD;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    text-decoration: none;
    
}

.btn_cadastrar {
    margin-top: 20px;
    position: relative;
}

@media screen and (max-width: 1200px){
    header{
        width: 100%;
    }
}