* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --azulE:#072F57;
    --azulC:#1A7CA6;
    --branco:#E3F6F5;
    --verdeC:#BAE8E8;
    --verdeE:#2C698D;
    --cinza: #999999;
    --verde: #12D76E;
    --azulbtn:#294ABD;

    --font1:'Montserrat Alternates', sans-serif;
    --font2: 'Roboto', sans-serif;
    
}
/* configuração do backgoround */

body{
    background-image: url("../img/Backgronud.png");
    background-color: var(--azulE);
    background-position: absolute;
    background-repeat: no-repeat;
}

main{
    background-image: url("../img/Backgronud.png");
    background-color: var(--azulE);
    background-position: absolute;
    background-repeat: no-repeat;
}

/* colocando cor no header */
header{
    background-color: var(--azulE);
}

/* alinhando o conteudo dentro header */
.posicao_header{
    font-family: var(--font1);
    color: var(--branco);
    margin: 0 auto;
    justify-content: space-between;
}

header nav{
    display: flex;
    justify-content: space-between;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: bold;
}

/* colocando os textos com uma margin minima */
header p{
    margin:15px;
    margin-top: 30px;

}
/* configurando o h1 */
h1{
    position: absolute;
    left: -999em;
    width: 1em;
}

.banner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.banner_conteudo{
    background-color: var(--azulE);  
}

/* configuração da linha que cruza a tela */
.linha{
    width: 100%;
    border-bottom: 3px solid var(--branco);
    display: flex;
}   
/*  colocando a imagem na linha */
.linha img{
    display: flex;
    flex-direction: row;
    margin: 0px 0px -40px 65%;
    width: 70px;
    background-color: var(--azulE);
    position: relative;
}

/* Configurando os números de matricula e sessão */

.teste{
    display: flex;
    color: var(--branco);
    /* display: flex; */
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.teste p{
    font-family: var(--font1);
    font-weight: bold;
    text-align: center;
    
}

.num{
    width: 200px;
    height: 30px;
    background-color:var(--branco);
    color: black;
    margin-top: 5px;
    border-radius: 50px;
    line-height: 1.8;
    
}
/* Configurando a tabela de horarios */
.calendario{
    text-align: center;
    font-family: var(--font1);
}

.calendario p, h2{
    color: var(--branco);
    margin-top: 10px;

}

table{
    color: var(--branco);
    font-family: var(--font1);
}


table, th, td {
    
 
   
    }
    
    table {
    border-collapse: collapse;
    margin: auto;
    }
    
      th, td{
      padding: 10px;
      text-align: center;
      width: 120px;
      
      }
    
    th{
    font-weight: bold;
    }
    
    tr:nth-child(even) {
        background: var(--branco);
        color: var(--azulE);
      }

th{
    color: var(--branco);
}
/* Configurando os botões */

.botao{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    margin-left: 85%;
    margin-top:-50px;
   
}

.btn{
  
    border: 1px solid var(--azulbtn);
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 5;
    border-radius: 30px;

    margin-top: 10px;

    cursor: pointer;
    display: inline-block;

    position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
   
 
}
.btn a{
    color: var(--branco);
   
    font-family: var(--font1);
    text-decoration: none;
    font-weight: bold;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }

 
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  /* Button 1 */
  .btn-1 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-1:hover {
    background: #2980b9;
  }
  
  .btn-1:active {
    background: #2980b9;
    top: 2px;
  }
  
  .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 2 */
  .btn-2 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-2:hover {
    background: #2980b9;
    
  }
  
  .btn-2:active {
    background: #3498db;
    color: #fff;
  }
  
  .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-3 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-3:hover {
    background: #2980b9;
    
  }
  
  .btn-3:active {
    background: #2980b9;
    top: 2px;
  }
  
  .btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  


