* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFFFFF;

    --font1: 'Lato', sans-serif;
    --font2: 'Montserrat', sans-serif;

}







body {
    background-image: url(Img/Backgronud.png);
    color: var(--branco);
    font-family: var(--font2);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

header {
    width: 100%;
}

.log {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hr_esquerda {
    border-bottom: solid 2px #FFFFFF;
    width: 60%;

}

.hr_direita {
    border-bottom: solid 2px #FFFFFF;
    width: 35%;


}

.log img {
    height: 80px;
}

.nomes {
    font-family: var(--font2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
    width: 95%;
}

main {
    display: grid;

    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 80px;

}

.formulario {
    width: 500px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    position: relative;
    justify-self: center;
    align-self: center;


}

.forms {
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 5PX;
    color: black;
    font-family: var(--font2);

    margin-top: 5px;
    top: 2PX;
}

form input {
    height: 33px;



}

button {
    height: 50px;
    width: 200px;
    border-radius: 30%;
    margin-top: 20px;
    position: relative;
    font-family: var(--font2);
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    color: var(--branco);
    background: #1A7CA6;
    border: 1px solid #294ABD;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    text-decoration: none;

}

button:hover {
    background-color: orange;
    color: #000;

}

nav {
    width: 120px;
    height: 400px;
    font-family: var(--font2);
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    position: relative;
    top: -175px;


}

.btn_cadastrar {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 50px;

    font-family: var(--font2);
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    background: #1A7CA6;
    border: 1px solid #294ABD;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    text-decoration: none;
    margin: 5px;

}

.btn_cadastrar:hover {
    background-color: orange;
    color: #000;

}


nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    text-decoration: none;



}

nav a:hover {

    background-color: orange;
    color: #000;
}